## Copyright 2013-2026 the original author or authors from the JHipster project.
##
## This file is part of the JHipster project, see https://www.jhipster.tech/
## for more information.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##      https://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
<template>
    <div class="d-flex justify-content-center">
        <div class="col-8">
            <div v-if="${entityInstance}">
                <h2 class="jh-entity-heading" data-cy="${entityInstance}DetailsHeading"><span>{{ t$('${i18nKeyPrefix}.detail.title') }}${entityAngularName}</span> {{${entityInstance}.${primaryKey.name}}}</h2>
                <dl class="row-md jh-entity-details">
#foreach($field in $mainModel.fields)## A
#if(!$field.primaryKey)## A-1
#set($fieldName = $field.fieldName)
#set($fieldType = $field.fieldType)
                    <dt>
                        <span>{{ t$('${i18nKeyPrefix}.${fieldName}') }}</span>
                    </dt>
                    <dd>
#if($field.fieldIsEnum)## A-1-1
                        <span>#{if}($enableTranslation){{ t$('${frontendAppName}.${fieldType}.' + ${entityInstance}.${fieldName}) }}#{else}{{ ${entityInstance}.${fieldName} }}#{end}</span>
#elseif($field.fieldTypeBinary && $field.blobContentTypeImage)## A-1-1
                        <div v-if="${entityInstance}.${fieldName}">
                            <a @click="openFile(${entityInstance}.${fieldName}ContentType, ${entityInstance}.${fieldName})">
                                <img :src="'data:' + ${entityInstance}.${fieldName}ContentType + ';base64,' + ${entityInstance}.${fieldName}" style="max-width: 100%;" alt="${entityInstance}"/>
                            </a>
                            {{${entityInstance}.${fieldName}ContentType}}, {{byteSize(${entityInstance}.${fieldName})}}
                        </div>
#elseif($field.fieldTypeBinary && $field.blobContentTypeAny)## A-1-1
                        <div v-if="${entityInstance}.${fieldName}">
                            <a @click="openFile(${entityInstance}.${fieldName}ContentType, ${entityInstance}.${fieldName})">{{ t$('entity.action.open') }}</a>
                            {{${entityInstance}.${fieldName}ContentType}}, {{byteSize(${entityInstance}.${fieldName})}}
                        </div>
#elseif($field.fieldTypeDuration)## A-1-1
                        <span>{{formatDuration(${entityInstance}.${fieldName})}} ({{${entityInstance}.${fieldName}}})</span>
#elseif($field.fieldTypeTimed)## A-1-1
                        <span v-if="${entityInstance}.${fieldName}">{{formatDateLong(${entityInstance}.${fieldName})}}</span>
#else## A-1-1
                        <span>{{${entityInstance}.${fieldName}}}</span>
#end## A-1-1
                    </dd>
#end## A-1
#end## A
#foreach($relationship in $relationships)## A
#if(!$relationship.otherEntity.embedded && $relationship.persistableRelationship)## A-1
#set($relationshipName = $relationship.relationshipName)
#set($relationshipFieldName = $relationship.relationshipFieldName)
#set($relationshipFieldNamePlural = $relationship.relationshipFieldNamePlural)
#set($relationshipNameHumanized = $relationship.relationshipNameHumanized)
#set($otherEntityName = $relationship.otherEntityName)
#set($otherEntityField = $relationship.otherEntityField)
                    <dt>
                        <span>{{ t$('${i18nKeyPrefix}.${relationshipName}') }}</span>
                    </dt>
                    <dd>
#if($relationship.otherEntityUser)## A-1-1
#if($relationship.relationshipManyToMany)## A-1-1-1
                        <span v-for="(${relationshipFieldName}, i) in ${entityInstance}.${relationshipFieldNamePlural}" :key="${relationshipFieldName}.${relationship.otherEntity.primaryKey.name}">{{i > 0 ? ', ' : ''}}
                            {{${relationshipFieldName}.${otherEntityField}}}
                        </span>
#else## A-1-1-1
                        {{${entityInstance}.${relationshipFieldName} ? ${entityInstance}.${relationshipFieldName}.${otherEntityField} : ''}}
#end## A-1-1-1
#else## A-1-1
#if($relationship.relationshipManyToMany)## A-1-1-1
                        <span v-for="(${relationshipFieldName}, i) in ${entityInstance}.${relationshipFieldNamePlural}" :key="${relationshipFieldName}.${relationship.otherEntity.primaryKey.name}">{{i > 0 ? ', ' : ''}}
                            <router-link :to="{name: '${relationship.otherEntity.entityAngularName}View', params: {${otherEntityName}Id: ${relationshipFieldName}.${relationship.otherEntity.primaryKey.name}}}">{{${relationshipFieldName}.${otherEntityField}}}</router-link>
                        </span>
#else## A-1-1-1
                        <div v-if="${entityInstance}.${relationshipFieldName}">
                            <router-link :to="{name: '${relationship.otherEntity.entityAngularName}View', params: {${otherEntityName}Id: ${entityInstance}.${relationshipFieldName}.${relationship.otherEntity.primaryKey.name}}}">{{${entityInstance}.${relationshipFieldName}.${otherEntityField}}}</router-link>
                        </div>
#end## A-1-1-1
#end## A-1-1
                    </dd>
#end## A-1
#end## A
                </dl>
                <button type="submit"
                        @click.prevent="previousState()"
                        class="btn btn-info"
                        data-cy="entityDetailsBackButton">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span>{{ t$('entity.action.back') }}</span>
                </button>
#if(!$readOnly)## A
                <router-link v-if="${entityInstance}.${primaryKey.name}" :to="{name: '${entityAngularName}Edit', params: {${entityInstance}Id: ${entityInstance}.${primaryKey.name}}}" custom v-slot="{ navigate }">
                    <button @click="navigate" class="btn btn-primary">
                        <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span>{{ t$('entity.action.edit') }}</span>
                    </button>
                    </router-link>
#end## A
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./${entityFileName}-details.component.ts">
</script>
