## Copyright 2013-2026 the original author or authors from the JHipster project.
##
## This file is part of the JHipster project, see https://www.jhipster.tech/
## for more information.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##      https://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
<template>
    <div class="d-flex justify-content-center">
        <div class="col-8">
            <form name="editForm" novalidate @submit.prevent="save()" >
                <h2 id="${i18nKeyPrefix}.home.createOrEditLabel" data-cy="${entityNameCapitalized}CreateUpdateHeading">{{ t$('${i18nKeyPrefix}.home.createOrEditLabel') }}</h2>
                <div>
                    <div class="mb-3" v-if="${entityInstance}.${primaryKey.name}">
                        <label for="id">{{ t$('global.field.id') }}</label>
                        <input type="text" class="form-control" id="id" name="${primaryKey.name}"
                               v-model="${entityInstance}.${primaryKey.name}" readonly />
                    </div>
#foreach($field in $mainModel.fields)## A
#if(!$field.primaryKey)## A-1
#set($fieldName = $field.fieldName)
#set($fieldNameHumanized = $field.fieldNameHumanized)
#set($fieldType = $field.fieldType)
#set($fieldTypeBlobContent = $field.fieldTypeBlobContent)
#set($fieldInputType = "text")
#set($fieldInputClass = "form-control")
#set($translationKey = "${i18nKeyPrefix}.${fieldName}")
#if($field.fieldTypeNumeric)## A-1-1
#set($fieldInputType = "number")
#elseif($field.fieldTypeLocalDate)## A-1-1
#set($fieldInputType = "date")
#elseif($field.fieldTypeTimed)## A-1-1
#set($fieldInputType = "datetime-local")
#elseif($field.fieldTypeLocalTime)## A-1-1
#set($fieldInputType = "time")
#elseif($field.fieldTypeBoolean)## A-1-1
#set($fieldInputType = "checkbox")
#set($fieldInputClass = "form-check")
#elseif($field.fieldTypeBinary && !$field.blobContentTypeText)## A-1-1
#set($fieldInputType = "hidden")
#end## A-1-1
                    <div class="mb-3">
                        <label class="form-control-label" for="${entityFileName}">{{ t$('${translationKey}') }}</label>
#if($field.fieldIsEnum)## A-1-2
                        <select class="form-control" name="${fieldName}" :class="{'valid': !v$D.${fieldName}.$invalid, 'invalid': v$D.${fieldName}.$invalid }" v-model="v$D.${fieldName}.$model" id="${entityFileName}-${fieldName}" data-cy="${fieldName}" #if($field.fieldValidate == true && $field.fieldValidateRules.contains("required")) required#end>
#set($enumPrefix = "${frontendAppName}.${fieldType}")
                            <option v-for="${_.lowerFirst($fieldType)} in ${_.lowerFirst($fieldType)}Values" :key="${_.lowerFirst($fieldType)}" :value="${_.lowerFirst($fieldType)}" :label="t$('${enumPrefix}.'+${_.lowerFirst($fieldType)})">{{ ${_.lowerFirst($fieldType)} }}</option>

                        </select>
#else## A-1-2
#if($field.fieldTypeBinary && !$field.blobContentTypeText)## A-1-2-1
                        <div>
#if($field.blobContentTypeImage)## A-1-2-1-1
                            <img :src="'data:' + ${entityInstance}.${fieldName}ContentType + ';base64,' + ${entityInstance}.${fieldName}" style="max-height: 100px;" v-if="${entityInstance}.${fieldName}" alt="${entityInstance}"/>
#end## A-1-2-1-1
                            <div v-if="${entityInstance}.${fieldName}" class="form-text text-danger clearfix">
#if($field.blobContentTypeAny)## A-1-2-1-2
                                <a class="pull-start" @click="openFile(${entityInstance}.${fieldName}ContentType, ${entityInstance}.${fieldName})">{{ t$('entity.action.open') }}</a><br>
                                <span class="pull-start">{{${entityInstance}.${fieldName}ContentType}}, {{byteSize(${entityInstance}.${fieldName})}}</span>
#else## A-1-2-1-2
                                <span class="pull-start">{{${entityInstance}.${fieldName}ContentType}}, {{byteSize(${entityInstance}.${fieldName})}}</span>
#end## A-1-2-1-2
#if($field.blobContentTypeImage)## A-1-2-1-3
                                <button type="button" @click="clearInputImage('${fieldName}', '${fieldName}ContentType', 'file_${fieldName}')" class="btn btn-secondary btn-xs pull-end">
#else## A-1-2-1-3
                                <button type="button" @click="${entityInstance}.${fieldName}=null;${entityInstance}.${fieldName}ContentType=null;"
                                        class="btn btn-secondary btn-xs pull-end">
#end## A-1-2-1-3
                                    <font-awesome-icon icon="times"></font-awesome-icon>
                                </button>
                            </div>
                            <label for="file_${fieldName}" class="btn btn-primary pull-end">{{ #if($fieldTypeBlobContent == "image")t$('entity.action.addimage')#else t$('entity.action.addblob')#end }}</label>
                            <input type="file" ref="file_${fieldName}" id="file_${fieldName}" style="display: none;" data-cy="${fieldName}" @change="setFileData($event, ${entityInstance}, '${fieldName}', #if($fieldTypeBlobContent == "image")true)" accept="image/*"#else false)"#end />
                        </div>
#end## A-1-2-1
#if($field.fieldTypeLocalDate)## A-1-2-2
                        <b-input-group class="mb-3">
                            <b-input-group-prepend>
                                <b-form-datepicker
                                    aria-controls="${entityFileName}-${fieldName}"
                                    v-model="v$D.${fieldName}.$model"
                                    name="${fieldName}"
                                    class="${fieldInputClass}"
                                    :locale="currentLanguage"
                                    button-only
                                    today-button
                                    reset-button
                                    close-button
                                >
                                </b-form-datepicker>
                            </b-input-group-prepend>
                            <b-form-input id="${entityFileName}-${fieldName}" data-cy="${fieldName}" type="text" class="${fieldInputClass}" name="${fieldName}"  :class="{'valid': !v$D.${fieldName}.$invalid, 'invalid': v$D.${fieldName}.$invalid }"
                            v-model="v$D.${fieldName}.$model" #if($field.fieldValidate && $field.fieldValidationRequired) required#end />
                        </b-input-group>
#elseif($field.fieldTypeInstant)## A-1-2-2
                        <div class="d-flex">
                            <input id="${entityFileName}-${fieldName}" data-cy="${fieldName}" type="datetime-local" class="${fieldInputClass}" name="${fieldName}" :class="{'valid': !v$D.${fieldName}.$invalid, 'invalid': v$D.${fieldName}.$invalid }"
                            #if($field.fieldValidate && $field.fieldValidationRequired) required#end
                            :value="convertDateTimeFromServer(v$D.${fieldName}.$model)"
                            @change="updateInstantField('${fieldName}', $event)"/>
                        </div>
#elseif($field.fieldTypeZonedDateTime)## A-1-2-2
                        <div class="d-flex">
                            <input id="${entityFileName}-${fieldName}" data-cy="${fieldName}" type="datetime-local" class="${fieldInputClass}" name="${fieldName}" :class="{'valid': !v$D.${fieldName}.$invalid, 'invalid': v$D.${fieldName}.$invalid }"
                            #if($field.fieldValidate && $field.fieldValidationRequired) required#end
                            :value="convertDateTimeFromServer(v$D.${fieldName}.$model)"
                            @change="updateZonedDateTimeField('${fieldName}', $event)"/>
                        </div>
#elseif($field.blobContentTypeText)## A-1-2-2
                        <textarea class="${fieldInputClass}" name="${fieldName}" id="${entityFileName}-${fieldName}" data-cy="${fieldName}"
                            :class="{'valid': !v$D.${fieldName}.$invalid, 'invalid': v$D.${fieldName}.$invalid }" v-model="v$D.${fieldName}.$model" #if($field.fieldValidate == true && $field.fieldValidateRules.contains("required")) required#end></textarea>
#else## A-1-2-2
                        <input type="${fieldInputType}" class="${fieldInputClass}" name="${fieldName}" id="${entityFileName}-${fieldName}" data-cy="${fieldName}"
                            :class="{'valid': !v$D.${fieldName}.$invalid, 'invalid': v$D.${fieldName}.$invalid }" v-model#if($fieldInputType == "number").number#end="v$D.${fieldName}.$model" #if($field.fieldValidate == true && $field.fieldValidateRules.contains("required")) required#end/>
#if($field.fieldTypeBinary && !$field.blobContentTypeText)## A-1-2-2-1
                        <input type="hidden" class="${fieldInputClass}" name="${fieldName}ContentType" id="${entityFileName}-${fieldName}ContentType"
                            v-model="${entityInstance}.${fieldName}ContentType" />
#end## A-1-2-2-1
#end## A-1-2-2
#end## A-1-2
#if($field.fieldValidate)## A-1-3
                        <div v-if="v$D.${fieldName}.$anyDirty && v$D.${fieldName}.$invalid">
                            <small
                               class="form-text text-danger"
                               v-for="error of v$D.${fieldName}.$errors"
                               :key="error.$uid"
                            >{{ error.$message }}</small>
                        </div>
#end## A-1-3
                    </div>
#end## A-1
#end## A
#foreach($relationship in $relationships)## A
#if(!$relationship.otherEntity.embedded)## A-1
#set($otherEntityName = $relationship.otherEntityName)
#set($relationshipName = $relationship.relationshipName)
#set($relationshipNameHumanized = $relationship.relationshipNameHumanized)
#set($relationshipFieldName = $relationship.relationshipFieldName)
#set($relationshipFieldNamePlural = $relationship.relationshipFieldNamePlural)
#set($otherEntityField = $relationship.otherEntityField)
#set($relationshipRequired = $relationship.relationshipRequired)
#set($translationKey = "${i18nKeyPrefix}.${relationshipName}")
#if(!$relationship.collection && $relationship.persistableRelationship)## A-1-1
                    <div class="mb-3">
                        <label class="form-control-label" for="${entityFileName}">{{ t$('${translationKey}') }}</label>
                        <select class="form-control" id="${entityFileName}-${relationshipName}" data-cy="${relationshipFieldName}" name="${relationshipName}" v-model="${entityInstance}.${relationshipFieldName}"#if($relationshipRequired) required#end>
#if(!$relationshipRequired)## A-1-1-1
                            <option :value="null"></option>
#else## A-1-1-1
                            <option v-if="!${entityInstance}.${relationshipName}" :value="null" selected></option>
#end## A-1-1-1
                            <option :value="${entityInstance}.${relationshipFieldName} && ${otherEntityName}Option.${relationship.otherEntity.primaryKey.name} === ${entityInstance}.${relationshipFieldName}.${relationship.otherEntity.primaryKey.name} ? ${entityInstance}.${relationshipFieldName} : ${otherEntityName}Option" v-for="${otherEntityName}Option in ${relationship.otherEntity.entityInstancePlural}" :key="${otherEntityName}Option.${relationship.otherEntity.primaryKey.name}">{{${otherEntityName}Option.${otherEntityField}}}</option>
                        </select>
                    </div>
#elseif($relationship.persistableRelationship)## A-1-1
                    <div class="mb-3">
                        <label for="${entityFileName}">{{ t$('${translationKey}') }}</label>
                        <select class="form-control" id="${entityFileName}-${relationshipFieldNamePlural}" data-cy="${relationshipFieldName}" multiple name="${relationshipName}" v-if="${entityInstance}.${relationshipFieldNamePlural} !== undefined" v-model="${entityInstance}.${relationshipFieldNamePlural}"#if($relationshipRequired) required#end>
                            <option :value="getSelected(${entityInstance}.${relationshipFieldNamePlural}, ${otherEntityName}Option, '${relationship.otherEntity.primaryKey.name}')" v-for="${otherEntityName}Option in ${relationship.otherEntity.entityInstancePlural}" :key="${otherEntityName}Option.${relationship.otherEntity.primaryKey.name}">{{${otherEntityName}Option.${otherEntityField}}}</option>
                        </select>
                    </div>
#end## A-1-1
#if($relationship.relationshipValidate)## A-1-2
#if($relationship.collection)
                    <div v-if="v$D.${relationshipFieldNamePlural}.$anyDirty && v$D.${relationshipFieldNamePlural}.$invalid">
#else
                    <div v-if="v$D.${relationshipFieldName}.$anyDirty && v$D.${relationshipFieldName}.$invalid">
#end
                        <small
                           class="form-text text-danger"
#if($relationship.collection)
                           v-for="error of v$D.${relationshipFieldNamePlural}.$errors"
#else
                           v-for="error of v$D.${relationshipFieldName}.$errors"
#end
                           :key="error.$uid"
                        >{{ error.$message }}</small>
                    </div>
#end## A-1-2
#end## A-1
#end## A
                </div>
                <div>
                    <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" @click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>{{ t$('entity.action.cancel') }}</span>
                    </button>
                    <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" :disabled="v$D.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>{{ t$('entity.action.save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./${entityFileName}-update.component.ts">
</script>
