import { defineComponent, inject, ref, type Ref } from 'vue';
#if($enableTranslation)## A
import { useI18n } from 'vue-i18n';
#end## A
import { useRoute, useRouter } from 'vue-router';

#if($anyFieldIsBlobDerived)## A
import useDataUtils from '@/shared/data/data-utils.service';
#end## A
#if($anyFieldIsDuration || $anyFieldIsTimeDerived)## A
import { useDateFormat } from '@/shared/composables'
#end## A
import { type I${entityAngularName} } from '@/shared/model/${entityModelFileName}.model';
import ${entityAngularName}Service from './${entityFileName}.service';
import { useAlertService } from '@/shared/alert/alert.service';

export default defineComponent({
  compatConfig: { MODE: 3 },
  name: '${entityAngularName}Details',
  setup() {
#if($anyFieldIsDuration || $anyFieldIsTimeDerived)## A
    const dateFormat = useDateFormat();
#end## A
    const ${entityInstance}Service = inject('${entityInstance}Service', () => new ${entityAngularName}Service());
    const alertService = inject('alertService', () => useAlertService(), true);

#if($anyFieldIsBlobDerived)## A
    const dataUtils = useDataUtils();
#end## A
    const route = useRoute();
    const router = useRouter();

    const previousState = () => router.go(-1);
    const ${entityInstance}: Ref<I${entityAngularName}> = ref({});

    const retrieve${entityAngularName} = async ${entityInstance}${primaryKey.nameCapitalized} => {
      try {
        const res = await ${entityInstance}Service().find(${entityInstance}${primaryKey.nameCapitalized});
        ${entityInstance}.value = res;
      } catch (error) {
        alertService.showHttpError(error.response);
      }
    };

    if (route.params?.${entityInstance}Id) {
      retrieve${entityAngularName}(route.params.${entityInstance}Id);
    }

    return {
#if($anyFieldIsDuration || $anyFieldIsTimeDerived)## A
      ...dateFormat,
#end## A
      alertService,
      ${entityInstance},
#if($anyFieldIsBlobDerived)## A
      ...dataUtils,
#end## A
      previousState,
#if($enableTranslation)## A
      t$: useI18n().t,
#end## A
    };
  },
});
