## Copyright 2013-2026 the original author or authors from the JHipster project.
##
## This file is part of the JHipster project, see https://www.jhipster.tech/
## for more information.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##      https://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
package ${currentClass.packageName};

import java.util.ArrayList;
import java.util.List;

import org.springframework.data.relational.core.sql.Column;
import org.springframework.data.relational.core.sql.Expression;
import org.springframework.data.relational.core.sql.Table;

public class ${currentClass.simpleName} {

    public static List<Expression> getColumns(Table table, String columnPrefix) {
        List<Expression> columns = new ArrayList<>();
#foreach($field in $fields)## A
#if(!$field.transient)## A-1
        columns.add(Column.aliased("${field.fieldNameAsDatabaseColumn}", table, columnPrefix + "_${field.fieldNameAsDatabaseColumn}"));
#if($field.fieldTypeBinary && !$field.blobContentTypeText)## A-1-1
        columns.add(Column.aliased("${field.fieldNameAsDatabaseColumn}_content_type", table, columnPrefix + "_${field.fieldNameAsDatabaseColumn}_content_type"));
#end## A-1-1
#end## A-1
#end## A

#foreach($rel in $reactiveRegularEagerRelations)## A
        columns.add(Column.aliased("${rel.joinColumnNames[0]}", table, columnPrefix + "_${rel.joinColumnNames[0]}"));
#end## A
        return columns;
    }
}
