package ${currentClass.packageName};

import ${mainModelClass.qualifiedName};
#if(${requestModelClass.simpleName} != ${mainModelClass.simpleName})## A
#if($requestModelClass != $null)## A-1
import ${requestModelClass.qualifiedName};
#end## A-1
#if(${resultModelClass.simpleName} != ${mainModelClass.simpleName} && ${resultModelClass.simpleName} != ${requestModelClass.simpleName})## A-2
import ${resultModelClass.qualifiedName};
#end## A-2
#elseif(${resultModelClass.simpleName} != ${mainModelClass.simpleName})## A
import ${resultModelClass.qualifiedName};
#end## A
import org.springframework.data.jpa.repository.JpaRepository;
#foreach ($importType in $currentClass.dynamicImports)## A
import ${importType};
#end## A
import java.util.List;

/**
* @author $author
* @description Spring Data JPA repository for {@link ${mainModelClass.qualifiedName}}
*/
public interface ${currentClass.simpleName} extends JpaRepository<${mainModelClass.simpleName}, #getJavaTypeSimpleName(${mainModel.primaryKeyField.javaType})> {

#if($readDefinition != $null)## A
#if(!$readDefinition.singleResult)## A-1
    List<${resultModelClass.simpleName}> #buildRepositoryFind( $readDefinition.resultFieldsTree $readDefinition.select.conditionFields );

#else## A-1
    ${resultModelClass.simpleName} #buildRepositoryFind( $readDefinition.resultFieldsTree $readDefinition.select.conditionFields );

#end## A-1
#end## A

}