## Copyright 2013-2026 the original author or authors from the JHipster project.
##
## This file is part of the JHipster project, see https://www.jhipster.tech/
## for more information.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##      https://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
#set($entities = [])
#set($mainEntity = {"embedded": false, "readOnly": $readOnly, "entityAngularName": $entityAngularName, "entityFolderName": $entityFolderName, "entityFileName": $entityFileName, "entityInstance": $entityInstance})
#set($void = $entities.add($mainEntity))
import {Authority} from "@/shared/security/authority";
const Entities = () => import('@/entities/entities.vue');

#foreach($entity in $entities)## A
#if(!$entity.embedded)## A-1
const ${entity.entityAngularName} = () => import('@/entities/${entity.entityFolderName}/${entity.entityFileName}.vue');
#if(!$entity.readOnly)## A-2
const ${entity.entityAngularName}Update = () => import('@/entities/${entity.entityFolderName}/${entity.entityFileName}-update.vue');
#end## A-2
const ${entity.entityAngularName}Details = () => import('@/entities/${entity.entityFolderName}/${entity.entityFileName}-details.vue');

#end## A-1
#end## A
// jhipster-needle-add-entity-to-router-import - JHipster will import entities to the router here

export default
  {
    path: '#if($applicationTypeMicroservice)${baseName.toLowerCase()}#end',
    component: Entities,
    children: [
#foreach($entity in $entities)## A
#if(!$entity.embedded)## A-1
      {
        path: '${entity.entityFileName}',
        name: '${entity.entityAngularName}',
        component: ${entity.entityAngularName},
        meta: { authorities: [Authority.USER] },
      },
#if($createDefinition != $null)## A-1-1
      {
        path: '${entity.entityFileName}/new',
        name: '${entity.entityAngularName}Create',
        component: ${entity.entityAngularName}Update,
        meta: { authorities: [Authority.USER] },
      },
#end## A-1-1
#if($updateDefinition != $null)## A-1-2
      {
        path: '${entity.entityFileName}/:${entity.entityInstance}Id/edit',
        name: '${entity.entityAngularName}Edit',
        component: ${entity.entityAngularName}Update,
        meta: { authorities: [Authority.USER] },
      },
#end## A-1-2
      {
        path: '${entity.entityFileName}/:${entity.entityInstance}Id/view',
        name: '${entity.entityAngularName}View',
        component: ${entity.entityAngularName}Details,
        meta: { authorities: [Authority.USER] },
      },
#end## A-1
#end## A
      // jhipster-needle-add-entity-to-router - JHipster will add entities to the router here
    ],
  };
