package ${requestModelClass.packageName};

import com.baomidou.mybatisplus.annotation.*;
import org.springframework.format.annotation.DateTimeFormat;
#if($requestModelClass.superClass != $null)## A
import ${requestModelClass.superClass.qualifiedName};
#end## A
#foreach ($importType in $requestModelClass.dynamicImports)## A
import ${importType};
#end## A

public class ${requestModelClass.simpleName} #if($requestModelClass.superClass != $null)extends ${requestModelClass.superClass.simpleName} #end{

#foreach ($field in $requestModelClass.fields)## A
#if(${field.jdbcType} == 'DATE' || ${field.jdbcType} == 'TIMESTAMP' || ${field.jdbcType} == 'TIME')## A-1
#if($field.format == "DATE")## A-1-1
    @DateTimeFormat(iso = DateTimeFormat.ISO.DATE)
#elseif($field.format == "TIME")## A-1-1
    @DateTimeFormat(iso = DateTimeFormat.ISO.TIME)
#else## A-1-1
    @DateTimeFormat(iso = DateTimeFormat.ISO.DATE_TIME)
#end## A-1-1
#end## A-1
    private #getJavaTypeSimpleName($field.javaType) $field.property;

#end## A

#foreach ($field in $requestModelClass.fields)## A
    public #getJavaTypeSimpleName($field.javaType) #getFieldGetterName($field)() {
        return this.$field.property;
    }

    public void #getFieldSetterName($field)(#getJavaTypeSimpleName($field.javaType) $field.property) {
        this.$field.property = $field.property;
    }

#end## A
}
